.navbar {
    position: fixed; /* Fija la barra */
    top: 0;          /* Alinea al borde superior */
    left: 0;         /* Alinea al borde izquierdo */
    width: 100%;     /* Asegura que ocupe todo el ancho */
    z-index: 1000;   /* Asegura que quede por encima de otros elementos */
}

    /* IMPORTANTE: Evitar que el contenido se oculte */
body {
    padding-top: 60px; /* Igualar al alto de tu navbar */
}


.not-available-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg); /* Centrado y diagonal */
    background-color: rgba(220, 53, 69, 0.85);    /* Rojo Bootstrap con transparencia */
    color: white;
    font-weight: bold;
    font-size: 0.6rem;
    padding: 2px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    white-space: nowrap;
    pointer-events: none; /* Para que no interfiera con el click en la imagen */
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}